.page_loader {
    position: absolute !important;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    border: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}