.plain_dropdown_with_circular_border {
    width: 100%;
    border-radius: 20px !important;
    background-color: #ebebeb !important;
}

.plain_dropdown_with_circular_border_menu {
    border-radius: 0 0 20px 20px !important;
    background-color: #ebebeb !important;
}
.plain_dropdown_with_circular_border_default_text {
    color: #393c41 !important;
}