#plain_card_with_image_content {
    font-size: smaller;
}

.plain_card_with_image {
    margin-bottom: 8% !important;
    cursor: pointer;
}

.plain_card_with_image_content_parent {
    border: 0 !important;
}

.plain_card_with_image_image_parent {
    background-color: #ffffff !important;
    padding: 0 25px 0 25px !important;
}