.vertical_menu_div {
    background-color: #393C41;
    height: 100%;
}

.menu_item {
    color: #FFFFFF !important;
}

.vertical_menu {
    border: none !important;
    padding-left: 0 !important;
}

.active_menu_item {
    position: relative;
    height: inherit;
}

.active_item_span {
    position: absolute;
    left: 0;
    height: 100%;
    width: 8%;
    z-index: 1000;
    background-color: #00A651;
}

.active_item, .menu_item {
    padding-left: 2em !important;
}

.active_item {
    background-color: #eff0f2 !important;
    border-color: #eff0f2 !important;
}