.top_menu_with_left_logo {
    width: 100%;
}

.dashboard_top_logo {
    width: 198px;
    height: 49px;
    margin-left: 10%;
    padding-top: 2%;
}

.dashboard_top_menu_options_right {
    float: right;
    box-shadow: none !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.notification_icon {
    font-size: 26px !important;
}