.sign_in_card {
    width: 300px;
    min-height: 270px;
    border-color: #ccccce;
    border-radius: 0 !important;
    position: relative;
    top: 10%;
    left: 10%;
    z-index: 2;
}


.remember_me_checkbox {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30px;
}