#download_template_link {
    font-weight: bolder;
    font-size: small;
    color: #00A651
}

#download_template_link:hover {
    cursor: pointer;
}

.users_list {
    overflow: auto;
    height: 500px;
    padding: 0 !important;
}

.table_extra_options {
    text-align: center !important;
}