#plain_circular_border_input_with_right_button_button {
    border-radius: 0 20px 20px 0;
    color: #393c41;
}

#plain_circular_border_input_with_right_button_input {
    border-radius: 20px 0 0 20px;
}

.learnup-light-grey {
    background-color: #ebebeb !important;
}