.simple_pagination_menu {
    border: 0 !important;
    box-shadow: none !important;
    height: 10% !important;
}

.ui.simple_pagination_menu.menu .item:before {
    background: none !important;
}

.inactive_pagination_item:hover, .pagination_chevron:hover {
    color: #58bb56 !important;
}

.active_pagination_item {
    background-color: #58bb56 !important;
    color: #FFFFFF !important;
}